/** REGISTRO */
#registro-component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: transparent;
  border-color: transparent;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

form > section {
  flex-grow: 1;
}

.btn-back,
.btn-back:active,
.btn-back:after,
.btn-back:visited,
.btn-back:hover {
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: white;
  width: 4em;
}

.disabled-form {
  opacity: 0.5;
  pointer-events: none;
}

.form-group {
  margin-bottom: 2em;
  max-width: 320px;
}

#secciones-container img {
  margin: 4px;
  width: calc(25% - 8px);
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
}

.manada #secciones-container > img:not(.btn-manada) {
  opacity: 0.5;
}

.tropa #secciones-container > img:not(.btn-tropa) {
  opacity: 0.5;
}

.comunidad #secciones-container > img:not(.btn-comunidad) {
  opacity: 0.5;
}

.clan #secciones-container > img:not(.btn-clan) {
  opacity: 0.5;
}

#consentimiento-container {
  height: 5em;
}

small {
  display: block;
  line-height: 1.25em;
  margin-bottom: 0.5rem;
}

form .card-body {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.btn-primary {
  font-size: 1.5em;
  width: 100%;
}

.nuevo-grupo {
  font-size: 0.5em;
}

@media only screen and (min-width: 768px) {
  form .card-body,
  .form-group {
    max-width: 480px;
  }
}
